Repository atomeocean/job-compass, pull requests merged in 2025-06, with the labels that each got.

#243 更新招聘信息模版
  docs/.vitepress/theme/components/JobPostingTable.vue
  docs/zhHans/job-postings/amazon/data/software-development-engineer-20250313.json
  docs/zhHans/job-postings/amazon/data/software-development-engineer-20250507.json
  docs/zhHans/job-postings/amazon/data/software-development-engineer-20250508.json
  docs/zhHans/job-postings/amazon/data/software-development-engineer-intern-20250506.json
  docs/zhHans/job-postings/amazon/data/software-engineer-20250410.json
  docs/zhHans/job-postings/amazon/data/software-engineer-20250513.json
  docs/zhHans/job-postings/apple/data/windows-application-developer-20250502.json
  docs/zhHans/job-postings/bloomberg/data/senior-full-stack-software-engineer-20250502.json
  docs/zhHans/job-postings/cargurus/data/data-science-machine-learning-product-manager-20250503.json
  docs/zhHans/job-postings/coreweave/data/software-engineer-security-20250528.json
  docs/zhHans/job-postings/google/data/software-engineer-20250313.json
  docs/zhHans/job-postings/job-postings-utils/toturial-json-template.md
  docs/zhHans/job-postings/mapbox/data/software-development-engineer-android-20250519.json
  docs/zhHans/job-postings/meta/data/embedded-software-engineer-20250522.json
  docs/zhHans/job-postings/meta/data/network-production-engineer-20250520.json
  docs/zhHans/job-postings/meta/data/software-engineer-20250313.json
  docs/zhHans/job-postings/oversight-systems/data/product-manager-20250530.json
  docs/zhHans/job-postings/ptc/data/software-engineer-20250504.json
  docs/zhHans/job-postings/sanzaru-games/data/narrative-systems-designer-20250403.json
Labels: enhancement

#259 补充缺失信息
  docs/zhHans/job-postings/coreweave/data/backend-software-engineer-20250531.json
Labels: data contribution

#282 更新招聘职位信息
  docs/zhHans/job-postings/amazon/data/software-development-engineer-20250313.json
  docs/zhHans/job-postings/amazon/software-development-engineer-20250313.md
  docs/zhHans/job-postings/google/software-engineer-20250313.md
Labels: data contribution

#315 新增直招公司信息
  docs/zhHans/direct-hire-company/washington/seattle/data/microsoft.json
  docs/zhHans/direct-hire-company/washington/seattle/microsoft.md
Labels: direct hire

#279 Create data-engineer & business analyst
  docs/zhHans/job-postings/amazon/business-analyst-20250604.md
  docs/zhHans/job-postings/amazon/data-engineer-20250604.md
  docs/zhHans/job-postings/amazon/data/business-analyst-20250604.json
  docs/zhHans/job-postings/amazon/data/data-engineer-20250604.json
Labels: data contribution

#285 更新招聘信息
  docs/zhHans/job-postings/coreweave/data/backend-software-engineer-20250531.json
Labels: data contribution

#347 修复json文件路径
  docs/zhHans/job-postings/coreweave/business-intelligence-engineer-20250606.md
Labels: bug

#336 修复discover文件夹结构
  docs/zhHans/job-postings/discover/data-engineer-20250604-2.md
  docs/zhHans/job-postings/discover/data-engineer-20250604.md
  docs/zhHans/job-postings/discover/index.md
Labels: bug

#350 修复ebay文件引入路径
  docs/zhHans/job-postings/bloomberg/data-management-20250605.md
  docs/zhHans/job-postings/discover/data-engineer-20250604-2.md
  docs/zhHans/job-postings/ebay/data-analyst-20250610.md
Labels: bug

#331 新增直招公司信息
  docs/zhHans/direct-hire-company/new-york/new-york/data/genpact.json
  docs/zhHans/direct-hire-company/new-york/new-york/genpact.md
Labels: direct hire

#332 更新 morgan stanley 职位信息 json 文件
  docs/zhHans/job-postings/morgan-stanley/data/software-engineer-20250602.json
  docs/zhHans/job-postings/morgan-stanley/data/technology-associate-20250602.json
Labels: documentation, reserved

#381 添加新的职位招聘信息
  docs/zhHans/job-postings/genpact/data/project-manager-20250621.json
  docs/zhHans/job-postings/genpact/index.md
  docs/zhHans/job-postings/genpact/project-manager-20250621.md
Labels: data contribution, reserved

#359 修复Goldman Sachs json文件
  docs/zhHans/job-postings/goldman-sachs/data/financial-analyst-20250602.json
Labels: bug, reserved

#388 新增直招公司信息
  docs/zhHans/direct-hire-company/california/san-jose/data/paypal.json
  docs/zhHans/direct-hire-company/california/san-jose/google.md
  docs/zhHans/direct-hire-company/california/san-jose/paypal.md
Labels: direct hire

#311 新增直招公司信息
  docs/zhHans/direct-hire-company/washington/seattle/data/f5.json
  docs/zhHans/direct-hire-company/washington/seattle/f5.md
Labels: direct hire, reserved

#310 新增职位招聘信息
  docs/zhHans/job-postings/motorola-solutions/data/software-engineer-20250606.json
  docs/zhHans/job-postings/motorola-solutions/software-engineer-20250606.md
Labels: data contribution, reserved

#395 新增直招公司信息
  docs/zhHans/direct-hire-company/texas/austin/data/oracle.json
  docs/zhHans/direct-hire-company/texas/austin/oracle.md
  docs/zhHans/direct-hire-company/texas/austin/silicon-laboratories.md
Labels: direct hire
